*{
    padding: 0;
    margin: 0;                                       
}
                                                                 

header {
    background-color: rgb(116, 0, 0);
    background-size: cover;
}

header h1{
    padding: 2rem 2rem 1rem 2rem;
    color: white;
    font-size: 2rem;
    text-align: center;
    font-family: homoarakhn, sans-serif;   
}

#img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 0 1rem 0;

}

main {
    width: 100%;
    height: 100%;
    background-color: rgb(4, 4, 59);
    background-size: cover;

}

#alt {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

section div#texto {
    color: white;
    padding: 6.5rem;
    font-family: roboto;
    font-size: 1.3rem;
}

main img#peter{
    display: flex;
    padding: 1.5rem;
}

h2 {
    display: flex;
}

h3 {
    display: flex;
}

#button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
}

#but{
    background-color: rgb(116, 0, 0);
  color: white;
  border-radius: 8px;
  font-family: roboto;
  font-size: 1rem;
  padding: 0.4rem;
}

footer {
    background-color: rgb(4, 4, 59);
    color: white;
    font-family: roboto;
    padding: 1rem;
    text-align: center;
    align-items: center;
}

footer a{
    color: gray;
    text-decoration: none;
}

footer a:hover{
    color: white;
}
