*{
    padding: 0;
    margin: 0;                                       
}
                                                                 

header {
    background-color: rgb(116, 0, 0);
    background-size: cover;
    height: 8rem;
}

header h1{
    padding: 2rem 2rem 1rem 2rem;
    color: white;
    font-size: 2rem;
    text-align: center;
    font-family: homoarakhn, sans-serif;   
}

body{
    background-color: rgb(4, 4, 59);
    background-size: cover;
}

#img{
    display: flex;
    justify-content: center;
    padding: 0 0 1rem 0;
}

main {
    width: 100%;
    height: 100%;

}

#alt {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

section div#texto {
    color: white;
    padding: 6.5rem;
    font-family: roboto;
    font-size: 1.3rem;
}

main img#peter{
    display: flex;
    padding: 1.5rem;
}

h2 {
    display: flex;
}

h3 {
    display: flex;
}

#divbtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;
}

button {
    background: rgb(116, 0, 0);
    color: #fff;
    padding: 0.6rem;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    font-family: roboto;
    font-size: 1rem;
  }

button:hover {
    cursor: pointer;
    background: rgb(179, 2, 2);
    transition: 0.3s;
  }

  footer{
    background-color: rgb(4, 4, 59);
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    color: white;
    height: 8vh;
    font-size: 0.8rem;
}

footer a{
    color: gray;
    text-decoration: none;
    font-size: 0.8rem;
}

footer a:hover{
    color: white;
}
